@using Blazor.Models;
@using Blazor.Extensions.Storage;

@page "/detailpage"
@page "/detailpage/{productId}"

@inject HttpClient Http
@inject Blazor.Extensions.Storage.Interfaces.ILocalStorage LocalStorage

@if (product == null)
{
    <span><em>Loading...</em></span>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ProductInfo prod="@product" />

                <Review reviews="@product.reviews" />
            </div>
        </div>
       
    </div>

}   

@code {
    [Parameter]
    public string productId
    {
        get; set;
    }

    private Product product;


    protected override async Task OnInitializedAsync()
    {
        // products = await Http.GetJsonAsync<Product[]>("/sample-data/items.json");

        product = await Http.GetJsonAsync<Product>("http://localhost:3333/books/" + productId);



    }


}
