@using Blazor.Models;
@using Blazor.Extensions.Storage;

@page "/"

@inject HttpClient Http
@inject Blazor.Extensions.Storage.Interfaces.ILocalStorage LocalStorage
<div class="container">
    <div class="row">
       
        @if (products == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var prod in products)
            {
                <div class="col-sm-4">
                    <ItemCard prod="@prod" />
                </div>
            }
        }

        
    </div>
</div>

@code{
    Product[] products;
    List<Product> prods;

    protected override async Task OnInitializedAsync()
    {

        if(products == null)
        {
            products = await Http.GetJsonAsync<Product[]>("http://localhost:3333/books/");
        }

        prods = products.ToList();

     
    }

}

