@using Blazor.Models;

@page "/"

@inject HttpClient Http



<div class="container">
    <div class="row">
        @if (products == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach(var prod in products)
            {
                <div class="col-sm-4">
                    <ItemCard prod="@prod" />
                </div>
            }
        }
        </div>
</div>

@code{
    Product[] products;

    protected override async Task OnInitializedAsync()
    {
        // products = await Http.GetJsonAsync<Product[]>("/sample-data/items.json");

        products = await Http.GetJsonAsync<Product[]>("http://localhost:3333/items/");
    }
}
