<nav class="navbar">
    <div class="container">
        <NavLink class="nav-link text-light" href="">
            Webstoer
        </NavLink>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <NavLink class="nav-link" href="ShoppingCart" Match="NavLinkMatch.Prefix">
            <i class="fas fa-2x fa-shopping-cart float-right text-white"></i>
        </NavLink>

    </div>
</nav>


@code {

}
